.stock {
  display: inline-flex;
  align-items: center;
  gap: var(--number-2);
  color: var(--cocso-stock-quantity-status-color);

  --cocso-stock-quantity-status-color: inherit;
}

.indicator {
  width: var(--number-9);
  height: auto;
  flex-shrink: 0;
}

.indicator > svg {
  width: 100%;
  height: 100%;
}
