.cocso-body {
  color: var(--cocso-body-font-color);
  font-size: var(--cocso-body-font-size);
  font-weight: var(--cocso-body-font-weight);
  line-height: var(--cocso-body-line-height);

  --cocso-body-font-color: inherit;
  --cocso-body-font-size: inherit;
  --cocso-body-font-weight: inherit;
  --cocso-body-line-height: inherit;
}

.cocso-body--size_lg {
  font-size: 18px;
}

.cocso-body--size_md {
  font-size: 16px;
}

.cocso-body--size_sm {
  font-size: 14px;
}

.cocso-body--size_xs {
  font-size: 12px;
}
