@keyframes donut-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  position: relative;
  display: inline-block;
  width: var(--cocso-spinner-width);
  height: var(--cocso-spinner-height);
  border: 3px solid var(--cocso-spinner-bg-color);
  border-top-color: var(--cocso-spinner-border-color);
  border-radius: 50%;
  animation: donut-spin 0.75s linear infinite;
  transform-origin: center center;

  --cocso-spinner-width: inherit;
  --cocso-spinner-height: inherit;
  --cocso-spinner-border-color: inherit;
  --cocso-spinner-bg-color: inherit;
}
