:root {
  --border-width-variable-regular: 1px;
  --border-width-variable-medium: 2px;
  --border-width-static-regular: 1px;
  --border-width-static-medium: 2px;
  --color-palette-gray-0: #FFFFFF;
  --color-palette-gray-50: #F4F5F6;
  --color-palette-gray-100: #E6E8EA;
  --color-palette-gray-200: #CDD1D5;
  --color-palette-gray-300: #B1B8BE;
  --color-palette-gray-400: #8A949E;
  --color-palette-gray-500: #6D7882;
  --color-palette-gray-600: #58616A;
  --color-palette-gray-700: #464C53;
  --color-palette-gray-800: #33363D;
  --color-palette-gray-900: #1E2124;
  --color-palette-gray-950: #131416;
  --color-palette-gray-1000: #000000;
  --color-palette-primary-50: #ECF2FE;
  --color-palette-primary-100: #D8E5FD;
  --color-palette-primary-200: #B1CEFB;
  --color-palette-primary-300: #86AFF9;
  --color-palette-primary-400: #4C87F6;
  --color-palette-primary-500: #256EF4;
  --color-palette-primary-600: #0B50D0;
  --color-palette-primary-700: #083891;
  --color-palette-primary-800: #052561;
  --color-palette-primary-900: #03163A;
  --color-palette-primary-950: #020F27;
  --color-palette-secondary-50: #EEF2F7;
  --color-palette-secondary-100: #D6E0EB;
  --color-palette-secondary-200: #BACBDE;
  --color-palette-secondary-300: #90B0D5;
  --color-palette-secondary-400: #6B96C7;
  --color-palette-secondary-500: #346FB2;
  --color-palette-secondary-600: #1C589C;
  --color-palette-secondary-700: #063A74;
  --color-palette-secondary-800: #052B57;
  --color-palette-secondary-900: #031F3F;
  --color-palette-secondary-950: #02162C;
  --color-palette-point-50: #FBEFF0;
  --color-palette-point-100: #F5D6D9;
  --color-palette-point-200: #EBADB2;
  --color-palette-point-300: #E0858C;
  --color-palette-point-400: #D65C66;
  --color-palette-point-500: #D63D4A;
  --color-palette-point-600: #AB2B36;
  --color-palette-point-700: #7A1F26;
  --color-palette-point-800: #521419;
  --color-palette-point-900: #310C0F;
  --color-palette-point-950: #21080A;
  --color-palette-danger-50: #FDEFEC;
  --color-palette-danger-100: #FCDFD9;
  --color-palette-danger-200: #F7AFA1;
  --color-palette-danger-300: #F48771;
  --color-palette-danger-400: #F05F42;
  --color-palette-danger-500: #DE3412;
  --color-palette-danger-600: #BD2C0F;
  --color-palette-danger-700: #8A240F;
  --color-palette-danger-800: #5C180A;
  --color-palette-danger-900: #390D05;
  --color-palette-danger-950: #260903;
  --color-palette-warning-50: #FFF3DB;
  --color-palette-warning-100: #FFE0A3;
  --color-palette-warning-200: #FFC95C;
  --color-palette-warning-300: #FFB114;
  --color-palette-warning-400: #C78500;
  --color-palette-warning-500: #9E6A00;
  --color-palette-warning-600: #8A5C00;
  --color-palette-warning-700: #614100;
  --color-palette-warning-800: #422C00;
  --color-palette-warning-900: #2E1F00;
  --color-palette-warning-950: #241800;
  --color-palette-success-50: #EAF6EC;
  --color-palette-success-100: #D8EEDD;
  --color-palette-success-200: #A9DAB4;
  --color-palette-success-300: #7EC88E;
  --color-palette-success-400: #3FA654;
  --color-palette-success-500: #228738;
  --color-palette-success-600: #267337;
  --color-palette-success-700: #285D33;
  --color-palette-success-800: #1F4727;
  --color-palette-success-900: #122B18;
  --color-palette-success-950: #0E2012;
  --color-palette-information-50: #E7F4FE;
  --color-palette-information-100: #D3EBFD;
  --color-palette-information-200: #9ED2FA;
  --color-palette-information-300: #5FB5F7;
  --color-palette-information-400: #2098F3;
  --color-palette-information-500: #0B78CB;
  --color-palette-information-600: #096AB3;
  --color-palette-information-700: #085691;
  --color-palette-information-800: #053961;
  --color-palette-information-900: #03253F;
  --color-palette-information-950: #021A2C;
  --color-palette-blackalpha-0: rgba(0, 0, 0, 0);
  --color-palette-blackalpha-10: rgba(0, 0, 0, 0.1);
  --color-palette-blackalpha-25: rgba(0, 0, 0, 0.25);
  --color-palette-blackalpha-50: rgba(0, 0, 0, 0.5);
  --color-palette-blackalpha-75: rgba(0, 0, 0, 0.75);
  --color-palette-blackalpha-100: rgba(0, 0, 0, 1);
  --color-palette-whitealpha-0: rgba(255, 255, 255, 0);
  --color-palette-whitealpha-10: rgba(255, 255, 255, 0.1);
  --color-palette-whitealpha-25: rgba(255, 255, 255, 0.25);
  --color-palette-whitealpha-50: rgba(255, 255, 255, 0.5);
  --color-palette-whitealpha-75: rgba(255, 255, 255, 0.75);
  --color-palette-whitealpha-100: rgba(255, 255, 255, 1);
  --color-palette-graphic-100: #E5ECF9;
  --color-palette-graphic-300: #98ACC5;
  --color-palette-graphic-500: #61758F;
  --color-palette-graphic-700: #39506C;
  --color-palette-graphic-900: #223A58;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  --letter-spacing-0: 0;
  --letter-spacing-1: 1;
  --number-0: 0px;
  --number-1: 1px;
  --number-2: 2px;
  --number-3: 4px;
  --number-4: 6px;
  --number-5: 8px;
  --number-6: 10px;
  --number-7: 12px;
  --number-8: 16px;
  --number-9: 20px;
  --number-10: 24px;
  --number-11: 28px;
  --number-12: 32px;
  --number-13: 36px;
  --number-14: 40px;
  --number-15: 44px;
  --number-16: 48px;
  --number-17: 56px;
  --number-18: 64px;
  --number-19: 72px;
  --number-20: 80px;
  --number-21: 96px;
  --number-max: 1000px;
  --shadow-y-3: 8px;
  --shadow-y-4: 16px;
  --shadow-blur-3: 16px;
  --shadow-blur-4: 24px;
  --shadow-1: 0px 1px 2px 0px var(--color-alpha-shadow1), 0px 0px 2px 0px var(--color-alpha-shadow1);
  --shadow-2: 0px 0px 2px 0px var(--color-alpha-shadow1), 0px 4px 8px 0px var(--color-alpha-shadow2);
  --shadow-3: 0px 0px 2px 0px var(--color-alpha-shadow2), 0px var(--shadow-y-3) var(--shadow-blur-3) 0px var(--color-alpha-shadow3);
  --shadow-4: 0px 0px 2px 0px var(--color-alpha-shadow2), 0px var(--shadow-y-4) var(--shadow-blur-4) 0px var(--color-alpha-shadow3);
  --color-background-white: var(--color-palette-gray-0);
  --color-background-gray-subtler: var(--color-palette-gray-50);
  --color-background-gray-subtle: var(--color-palette-gray-100);
  --color-background-inverse: var(--color-palette-gray-900);
  --color-background-dim: var(--color-palette-blackalpha-75);
  --color-surface-white: var(--color-palette-gray-0);
  --color-surface-white-subtle: var(--color-palette-gray-0);
  --color-surface-white-subtler: var(--color-palette-gray-0);
  --color-surface-white-static: var(--color-palette-gray-0);
  --color-surface-inverse: var(--color-palette-gray-900);
  --color-surface-inverse-static: var(--color-palette-gray-900);
  --color-surface-gray-subtler: var(--color-palette-gray-50);
  --color-surface-gray-subtle: var(--color-palette-gray-100);
  --color-surface-gray-disabled: var(--color-palette-gray-200);
  --color-surface-primary-subtler: var(--color-palette-primary-50);
  --color-surface-secondary-subtler: var(--color-palette-secondary-50);
  --color-surface-point-subtler: var(--color-palette-point-50);
  --color-surface-danger-subtler: var(--color-palette-danger-50);
  --color-surface-warning-subtler: var(--color-palette-warning-50);
  --color-surface-success-subtler: var(--color-palette-success-50);
  --color-surface-information-subtler: var(--color-palette-information-50);
  --color-border-transparency: var(--color-palette-blackalpha-0);
  --color-border-inverse: var(--color-palette-gray-0);
  --color-border-disabled: var(--color-palette-gray-300);
  --color-border-gray-light: var(--color-palette-gray-200);
  --color-border-gray: var(--color-palette-gray-300);
  --color-border-gray-dark: var(--color-palette-gray-600);
  --color-border-gray-darker: var(--color-palette-gray-900);
  --color-border-primary-light: var(--color-palette-primary-100);
  --color-border-primary: var(--color-palette-primary-500);
  --color-border-secondary-light: var(--color-palette-secondary-100);
  --color-border-secondary: var(--color-palette-secondary-700);
  --color-border-point-light: var(--color-palette-point-100);
  --color-border-point: var(--color-palette-point-500);
  --color-border-danger-light: var(--color-palette-danger-100);
  --color-border-danger: var(--color-palette-danger-500);
  --color-border-warning-light: var(--color-palette-warning-100);
  --color-border-warning: var(--color-palette-warning-500);
  --color-border-success-light: var(--color-palette-success-100);
  --color-border-success: var(--color-palette-success-500);
  --color-border-information-light: var(--color-palette-information-100);
  --color-border-information: var(--color-palette-information-500);
  --color-divider-gray-light: var(--color-palette-gray-200);
  --color-divider-gray: var(--color-palette-gray-400);
  --color-divider-gray-dark: var(--color-palette-gray-500);
  --color-divider-gray-darker: var(--color-palette-gray-900);
  --color-divider-inverse: var(--color-palette-gray-0);
  --color-divider-primary-light: var(--color-palette-primary-100);
  --color-divider-primary: var(--color-palette-primary-500);
  --color-divider-secondary-light: var(--color-palette-secondary-100);
  --color-divider-secondary: var(--color-palette-secondary-700);
  --color-divider-error: var(--color-palette-danger-500);
  --color-divider-point: var(--color-palette-point-500);
  --color-text-bolder: var(--color-palette-gray-950);
  --color-text-basic: var(--color-palette-gray-900);
  --color-text-subtle: var(--color-palette-gray-700);
  --color-text-disabled: var(--color-palette-gray-400);
  --color-text-disabled-on: var(--color-palette-gray-500);
  --color-text-bolder-inverse: var(--color-palette-gray-0);
  --color-text-basic-inverse: var(--color-palette-gray-0);
  --color-text-subtle-inverse: var(--color-palette-gray-300);
  --color-text-static: var(--color-palette-gray-900);
  --color-text-inverse-static: var(--color-palette-gray-0);
  --color-text-primary: var(--color-palette-primary-600);
  --color-text-secondary: var(--color-palette-secondary-800);
  --color-text-point: var(--color-palette-point-600);
  --color-text-danger: var(--color-palette-danger-600);
  --color-text-warning: var(--color-palette-warning-600);
  --color-text-success: var(--color-palette-success-600);
  --color-text-information: var(--color-palette-information-600);
  --color-action-white: var(--color-palette-gray-0);
  --color-action-primary: var(--color-palette-whitealpha-0);
  --color-action-primary-hover: var(--color-palette-primary-50);
  --color-action-primary-pressed: var(--color-palette-primary-100);
  --color-action-primary-selected: var(--color-palette-primary-50);
  --color-action-primary-active: var(--color-palette-primary-500);
  --color-action-secondary: var(--color-palette-whitealpha-0);
  --color-action-secondary-hover: var(--color-palette-secondary-50);
  --color-action-secondary-pressed: var(--color-palette-secondary-100);
  --color-action-secondary-selected: var(--color-palette-secondary-50);
  --color-action-secondary-on: var(--color-palette-whitealpha-0);
  --color-action-secondary-on-hover: var(--color-palette-gray-0);
  --color-action-secondary-on-pressed: var(--color-palette-secondary-100);
  --color-action-secondary-on-selected: var(--color-palette-gray-0);
  --color-action-secondary-active: var(--color-palette-secondary-700);
  --color-action-disabled: var(--color-palette-gray-200);
  --color-element-inverse: var(--color-palette-gray-0);
  --color-element-inverse-static: var(--color-palette-gray-0);
  --color-element-gray-lighter: var(--color-palette-gray-50);
  --color-element-gray-light: var(--color-palette-gray-100);
  --color-element-gray: var(--color-palette-gray-500);
  --color-element-gray-dark: var(--color-palette-gray-600);
  --color-element-disabled-light: var(--color-palette-gray-200);
  --color-element-disabled-dark: var(--color-palette-gray-400);
  --color-element-primary: var(--color-palette-primary-500);
  --color-element-primary-light: var(--color-palette-primary-100);
  --color-element-primary-lighter: var(--color-palette-primary-50);
  --color-element-secondary: var(--color-palette-secondary-700);
  --color-element-secondary-light: var(--color-palette-secondary-100);
  --color-element-secondary-lighter: var(--color-palette-secondary-50);
  --color-element-point: var(--color-palette-point-500);
  --color-element-point-light: var(--color-palette-point-100);
  --color-element-point-lighter: var(--color-palette-point-50);
  --color-element-danger: var(--color-palette-danger-500);
  --color-element-danger-lighter: var(--color-palette-danger-50);
  --color-element-warning: var(--color-palette-warning-300);
  --color-element-warning-lighter: var(--color-palette-warning-50);
  --color-element-success: var(--color-palette-success-500);
  --color-element-success-lighter: var(--color-palette-success-50);
  --color-element-information: var(--color-palette-information-500);
  --color-element-information-lighter: var(--color-palette-information-50);
  --color-element-logo-text: #575756;
  --color-icon-gray: var(--color-palette-gray-800);
  --color-icon-gray-light: var(--color-palette-gray-700);
  --color-icon-gray-fill: var(--color-palette-gray-200);
  --color-icon-inverse: var(--color-palette-gray-0);
  --color-icon-disabled: var(--color-palette-gray-400);
  --color-icon-disabled-on: var(--color-palette-gray-500);
  --color-icon-primary: var(--color-palette-primary-500);
  --color-icon-secondary: var(--color-palette-secondary-800);
  --color-icon-point: var(--color-palette-point-500);
  --color-icon-danger: var(--color-palette-danger-500);
  --color-icon-warning: var(--color-palette-warning-500);
  --color-icon-success: var(--color-palette-success-500);
  --color-icon-information: var(--color-palette-information-500);
  --color-icon-inverse-static: var(--color-palette-gray-0);
  --color-icon-gray-static: var(--color-palette-gray-800);
  --color-icon-primary-static: var(--color-palette-primary-500);
  --color-icon-secondary-static: var(--color-palette-secondary-800);
  --color-icon-point-static: var(--color-palette-point-500);
  --color-icon-danger-static: var(--color-palette-danger-500);
  --color-icon-warning-static: var(--color-palette-warning-500);
  --color-icon-success-static: var(--color-palette-success-500);
  --color-icon-information-static: var(--color-palette-information-500);
  --color-link-default: var(--color-palette-primary-500);
  --color-link-hover: var(--color-palette-primary-600);
  --color-link-pressed: var(--color-palette-primary-700);
  --color-link-visited: #5917B8;
  --color-button-primary-fill: var(--color-palette-primary-500);
  --color-button-primary-fill-hover: var(--color-palette-primary-600);
  --color-button-primary-fill-pressed: var(--color-palette-primary-700);
  --color-button-secondary-fill: var(--color-palette-primary-50);
  --color-button-secondary-fill-hover: var(--color-palette-primary-100);
  --color-button-secondary-fill-pressed: var(--color-palette-primary-200);
  --color-button-secondary-border: var(--color-palette-primary-500);
  --color-button-tertiary-fill: var(--color-palette-whitealpha-0);
  --color-button-tertiary-fill-hover: var(--color-palette-gray-50);
  --color-button-tertiary-fill-pressed: var(--color-palette-gray-100);
  --color-button-tertiary-border: var(--color-palette-gray-600);
  --color-button-text-fill: var(--color-palette-whitealpha-0);
  --color-button-text-fill-hover: var(--color-palette-secondary-50);
  --color-button-text-fill-pressed: var(--color-palette-secondary-100);
  --color-button-text-border: var(--color-palette-blackalpha-0);
  --color-button-disabled-fill: var(--color-palette-gray-200);
  --color-button-disabled-border: var(--color-palette-gray-300);
  --color-input-surface: var(--color-palette-gray-0);
  --color-input-border: var(--color-palette-gray-600);
  --color-input-border-active: var(--color-palette-primary-500);
  --color-input-border-error: var(--color-palette-danger-500);
  --color-input-surface-disabled: var(--color-palette-gray-200);
  --color-input-border-disabled: var(--color-palette-gray-300);
  --color-graphic-blue-subtler: var(--color-palette-graphic-100);
  --color-graphic-blue-subtle: var(--color-palette-graphic-300);
  --color-graphic-blue: var(--color-palette-graphic-500);
  --color-graphic-blue-dark: var(--color-palette-graphic-700);
  --color-graphic-blue-darker: var(--color-palette-graphic-900);
  --color-graphic-red-subtler: var(--color-palette-point-50);
  --color-graphic-red-subtle: var(--color-palette-point-100);
  --color-graphic-red: var(--color-palette-point-200);
  --color-graphic-red-dark: var(--color-palette-point-400);
  --color-graphic-red-darker: var(--color-palette-point-700);
  --color-graphic-brand: var(--color-palette-primary-500);
  --color-alpha-base100: var(--color-palette-whitealpha-100);
  --color-alpha-base75: var(--color-palette-whitealpha-75);
  --color-alpha-base50: var(--color-palette-whitealpha-50);
  --color-alpha-base25: var(--color-palette-whitealpha-25);
  --color-alpha-base10: var(--color-palette-whitealpha-10);
  --color-alpha-base0: var(--color-palette-whitealpha-0);
  --color-alpha-inverse100: var(--color-palette-blackalpha-100);
  --color-alpha-inverse75: var(--color-palette-blackalpha-75);
  --color-alpha-inverse50: var(--color-palette-blackalpha-50);
  --color-alpha-inverse25: var(--color-palette-blackalpha-25);
  --color-alpha-inverse10: var(--color-palette-blackalpha-10);
  --color-alpha-inverse0: var(--color-palette-blackalpha-0);
  --color-alpha-shadow1: rgba(0, 0, 0, 0.05);
  --color-alpha-shadow2: rgba(0, 0, 0, 0.08);
  --color-alpha-shadow3: rgba(0, 0, 0, 0.12);
  --gap-1: var(--number-2);
  --gap-2: var(--number-3);
  --gap-3: var(--number-5);
  --gap-4: var(--number-7);
  --gap-5: var(--number-8);
  --gap-6: var(--number-9);
  --gap-7: var(--number-10);
  --gap-8: var(--number-12);
  --gap-9: var(--number-14);
  --gap-10: var(--number-16);
  --gap-11: var(--number-18);
  --gap-12: var(--number-20);
  --padding-1: var(--number-2);
  --padding-2: var(--number-3);
  --padding-3: var(--number-5);
  --padding-4: var(--number-6);
  --padding-5: var(--number-7);
  --padding-6: var(--number-8);
  --padding-7: var(--number-9);
  --padding-8: var(--number-10);
  --padding-9: var(--number-12);
  --padding-10: var(--number-14);
  --radius-xs1: var(--number-2);
  --radius-xs2: var(--number-2);
  --radius-xs3: var(--number-2);
  --radius-sm1: var(--number-3);
  --radius-sm2: var(--number-3);
  --radius-sm3: var(--number-3);
  --radius-md1: var(--number-4);
  --radius-md2: var(--number-4);
  --radius-md3: var(--number-5);
  --radius-md4: var(--number-5);
  --radius-lg1: var(--number-6);
  --radius-lg2: var(--number-6);
  --radius-xl1: var(--number-7);
  --radius-xl2: var(--number-7);
  --radius-max: var(--number-max);
  --size-height-1: var(--number-5);
  --size-height-2: var(--number-8);
  --size-height-3: var(--number-9);
  --size-height-4: var(--number-10);
  --size-height-5: var(--number-12);
  --size-height-6: var(--number-14);
  --size-height-7: var(--number-16);
  --size-height-8: var(--number-17);
  --size-height-9: var(--number-18);
  --size-height-10: var(--number-19);
  --size-height-11: var(--number-20);
}

.text-display, .text-heading, .text-body {
  color: var(--font-color);
  font-weight: var(--font-weight);
  line-height: 1.5;
  --font-color: inherit;
  --font-weight: inherit;
}

.text-display-lg {
  font-size: 44px;
}

.text-display-md {
  font-size: 32px;
}

.text-display-sm {
  font-size: 28px;
}

.text-heading-xl {
  font-size: 28px;
}

.text-heading-lg {
  font-size: 24px;
}

.text-heading-md {
  font-size: 22px;
}

.text-heading-sm {
  font-size: 19px;
}

.text-heading-xs {
  font-size: 17px;
}

.text-heading-2xs {
  font-size: 15px;
}

.text-body-lg {
  font-size: 19px;
}

.text-body-md {
  font-size: 17px;
}

.text-body-sm {
  font-size: 15px;
}

.text-body-xs {
  font-size: 13px;
}

@media (min-width: 768px) {
  .text-display-lg {
    font-size: 60px;
  }

  .text-display-md {
    font-size: 44px;
  }

  .text-display-sm {
    font-size: 36px;
  }

  .text-heading-xl {
    font-size: 40px;
  }

  .text-heading-lg {
    font-size: 32px;
  }

  .text-heading-md {
    font-size: 24px;
  }
}
