@layer components {
  .wrapper {
    display: flex;
    gap: var(--cocso-spacing-5);
    align-items: center;
  }

  .wrapper[data-disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }

  .switch {
    --cocso-switch-width: inherit;
    --cocso-switch-height: inherit;
    --cocso-switch-bg-color: inherit;
    position: relative;
    width: var(--cocso-switch-width);
    height: var(--cocso-switch-height);
    cursor: pointer;
    background-color: var(--cocso-switch-bg-color);
    border-radius: var(--cocso-radius-full);
    opacity: 1;
  }

  .switch:focus-visible {
    outline: 2px solid var(--cocso-color-primary-950);
    outline-offset: 2px;
  }

  .switch[data-disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }

  .switch[data-checked] {
    --cocso-switch-bg-color: var(--cocso-switch-checked-bg-color);
  }

  .thumb {
    --cocso-switch-thumb-size: inherit;
    position: absolute;
    top: 50%;
    display: block;
    width: var(--cocso-switch-thumb-size);
    height: var(--cocso-switch-thumb-size);
    background-color: var(--cocso-color-white);
    border-radius: var(--cocso-radius-full);
    box-shadow: var(--cocso-shadow-xs);
    transform: translate(var(--cocso-switch-thumb-offset), -50%);
    transition: transform 0.15s ease;
    will-change: transform;
  }

  .thumb[data-checked] {
    transform: translate(
      calc(
        var(--cocso-switch-width) -
        var(--cocso-switch-thumb-size) -
        var(--cocso-switch-thumb-offset)
      ),
      -50%
    );
  }
}
