.wrapper {
  display: flex;
  align-items: center;
  gap: var(--number-5);
}

.wrapper[aria-disabled="true"],
.wrapper[data-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}

.switch {
  position: relative;
  width: var(--cocso-switch-width);
  height: var(--cocso-switch-height);
  cursor: pointer;
  border-radius: var(--number-max);
  background-color: var(--cocso-switch-bg-color);
  opacity: 1;

  --cocso-switch-width: inherit;
  --cocso-switch-height: inherit;
  --cocso-switch-bg-color: inherit;
}

.switch[disabled],
.switch[data-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}

.switch[data-state="checked"] {
  --cocso-switch-bg-color: var(--color-palette-primary-500);
}

.thumb {
  display: block;
  width: var(--cocso-switch-thumb-width);
  height: var(--cocso-switch-thumb-width);
  border-radius: var(--number-max);
  background-color: var(--color-background-white);
  transform: translateX(var(--number-2));
  transition: transform 0.15s ease;
  will-change: transform;

  --cocso-switch-thumb-width: inherit;
  --cocso-switch-thumb-height: inherit;
}

.thumb[data-state="checked"] {
  transform: translateX(calc(var(--cocso-switch-width) - var(--cocso-switch-thumb-width) - var(--number-2)));
}

.switch[disabled] .thumb,
.switch[data-disabled="true"] .thumb {
  cursor: not-allowed;
}
