@layer components {
  .otp {
    display: flex;
    gap: var(--cocso-spacing-5);
    align-items: center;
  }

  .slot {
    position: relative;
    display: inline-flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: var(--cocso-color-neutral-950);
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    background-color: var(--cocso-color-neutral-50);
    border-radius: var(--cocso-radius-1);
    box-shadow: 0 0 0 var(--cocso-spacing-1, 1px) var(--cocso-color-neutral-50);
    transition:
      background-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }

  .slot:hover {
    box-shadow: 0 0 0 var(--cocso-spacing-1, 1px) var(--cocso-color-neutral-200);
  }

  .slotActive {
    box-shadow: 0 0 0 var(--cocso-spacing-1, 1px) var(--cocso-color-neutral-200);
  }

  .caret {
    position: absolute;
    width: 1px;
    height: 1em;
    background-color: var(--cocso-color-neutral-950);
    animation: caret-blink 1s step-end infinite;
  }

  @keyframes caret-blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
