@keyframes overlay-show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--ds-color-black-alpha-30);
  animation: overlay-show 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: var(--ds-z-index-overlay);
}

@keyframes content-show {
  from { opacity: 0; transform: translate(-50%, -48%) scale(0.997); }
  to { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}

.content {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 380px;
  max-height: 85vh;
  padding: var(--ds-spacing-9);
  border-radius: 12px;
  background-color: var(--ds-color-white);
  animation: content-show 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: var(--ds-z-index-modal);
}

.close {
  position: absolute;
  top: var(--ds-spacing-9);
  right: var(--ds-spacing-9);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: var(--ds-spacing-10);
  height: var(--ds-spacing-10);
  cursor: pointer;
}

.title {
  word-break: keep-all;
}

.description {
  margin-top: var(--ds-spacing-3);
}
