@layer components {
  .root {
    display: inline-block;
    transform: translateZ(0);
  }

  .content {
    min-width: 260px;
    padding: var(--cocso-spacing-7);
    overflow: hidden;
    border-radius: var(--cocso-radius-4);
  }

  .menu {
    display: flex;
    gap: var(--cocso-spacing-3);
    align-items: center;
    justify-content: center;
  }

  .arrow {
    width: 24px;
    height: 24px;
  }

  :global(.react-datepicker__day).sunday {
    color: var(--cocso-color-feedback-danger-text);
  }

  :global(.react-datepicker__day).saturday {
    color: var(--cocso-color-feedback-info-text);
  }

  :global(.react-datepicker) {
    position: relative;
    display: inline-block;
    padding-inline: 0;
    font-size: 0.8rem;
    color: var(--cocso-color-text-primary);
    background-color: var(--cocso-color-surface-primary);
  }

  :global(.react-datepicker__month-container) {
    width: 100%;
    padding-block: 0;
  }

  :global(.react-datepicker__month) {
    gap: var(--cocso-spacing-2);
  }

  :global(.react-datepicker__week) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }

  @media (hover: hover) and (pointer: fine) {
    :global(.react-datepicker__day:hover) {
      background-color: var(--cocso-color-interactive-secondary);
    }

    :global(.react-datepicker__day.react-datepicker__day--selected:hover) {
      background-color: var(--cocso-color-interactive-primary-hover);
    }
  }
}
