.root {
  display: inline-block;
  transform: translateZ(0);
}

.content {
  min-width: 260px;
  overflow: hidden;
}

.backButton {
  transform: rotate(180deg);
}

.sunday {
  color: var(--ds-color-danger-600) !important;
}

.saturday {
  color: var(--ds-color-primary-600) !important;
}

:global(.react-datepicker) {
  position: relative;
  display: inline-block;
  color: var(--ds-color-text-primary);
  font-size: 0.8rem;
  background-color: var(--ds-color-white);
}

:global(.react-datepicker__aria-live){
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

:global(.react-datepicker__sr-only) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:global(.react-datepicker__month-container) {
  width: 100%;
  padding-block: var(--ds-spacing-8);
}

:global(.react-datepicker__header--custom) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: var(--ds-spacing-5);
}

:global(.react-datepicker__day-names) {
  white-space: nowrap;
  text-align: center;
}

:global(.react-datepicker__week) {
  white-space: nowrap;
  text-align: center;
}

:global(.react-datepicker__day-name) {
  display: inline-block;
  width: 1.7rem;
  margin: 0.166rem;
  color: var(--ds-color-text-primary);
  text-align: center;
  line-height: 1.7rem;
}

:global(.react-datepicker__day) {
  display: inline-block;
  width: 1.7rem;
  margin: 0.166rem;
  color: var(--ds-color-text-primary);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  line-height: 1.7rem;
  border-radius: 8px;
}

:global(.react-datepicker__day:hover) {
  background-color: var(--ds-color-neutral-50);
}

:global(.react-datepicker__day--selected) {
  color: var(--ds-color-white) !important;
  background-color: var(--ds-color-primary-500);
}

:global(.react-datepicker__day--selected:hover) {
  background-color: var(--ds-color-primary-600) !important;
}

:global(.react-datepicker__day-name:nth-child(1)) {
  color: var(--ds-color-danger-600);
}

:global(.react-datepicker__day-name:nth-child(7)) {
  color: var(--ds-color-primary-600);
}
