@layer components {
  .skeleton {
    width: var(--cocso-skeleton-width, 100%);
    height: var(--cocso-skeleton-height);
    background-color: var(--cocso-skeleton-bg-color);
    border-radius: var(--cocso-skeleton-border-radius);
  }

  .pulse {
    animation: skeleton-pulse 1.5s ease-in-out infinite;
  }

  .wave {
    position: relative;
    overflow: hidden;
  }

  .wave::after {
    position: absolute;
    inset: 0;
    content: "";
    background: linear-gradient(
      90deg,
      transparent,
      rgb(255 255 255 / 0.4),
      transparent
    );
    animation: skeleton-wave 1.5s ease-in-out infinite;
  }

  @keyframes skeleton-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }

  @keyframes skeleton-wave {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
