.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  gap: var(--number-2);
}

.arrow, .item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--number-13);
  height: var(--number-13);
  color: var(--cocso-pagination-font-color);
  font-size: 16px;
  font-weight: var(--cocso-pagination-font-weight);
  cursor: pointer;
  border-radius: var(--number-4);
  background-color: var(--cocso-pagination-bg-color);
  transition: background-color 0.15s ease-in-out;

  --cocso-pagination-font-color: var(--color-text-basic);
  --cocso-pagination-font-weight: inherit;
  --cocso-pagination-bg-color: inherit;
}

.arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.arrow:not([disabled]):hover {
  --cocso-pagination-bg-color: var(--color-button-tertiary-fill-hover);
}

.arrow:not([disabled]):active {
  --cocso-pagination-bg-color: var(--color-button-tertiary-fill-pressed);
}

.arrow > svg {
  width: var(--number-8);
  height: var(--number-8);
  flex-shrink: 0;
}

.item[data-active="true"] {
  --cocso-pagination-font-color: var(--color-palette-gray-0);
  --cocso-pagination-bg-color: var(--color-button-primary-fill);
  --cocso-pagination-font-weight: var(--font-weight-semi-bold);
}

.item[data-active="false"]:hover {
  --cocso-pagination-bg-color: var(--color-button-tertiary-fill-hover);
}

.item[data-active="false"]:active {
  --cocso-pagination-bg-color: var(--color-button-tertiary-fill-pressed);
}

.trunc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--number-13);
  height: var(--number-13);
  color: var(--color-text-basic);
  font-size: 16px;
}
