.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
  gap: var(--number-5);
}

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--number-8);
  color: var(--color-palette-gray-600);
  text-align: center;
  cursor: pointer;
  border: var(--number-1) dashed var(--color-palette-gray-200);
  border-radius: var(--number-2);
  background-color: var(--color-palette-gray-50);
  gap: var(--number-5);
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.uploader[data-drag-active="true"] {
  border-color: var(--color-palette-gray-100);
  background-color: var(--color-palette-gray-100);
}

.uploader > input[type="file"] {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--number-5);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--number-9);
  height: var(--number-9);
  cursor: pointer;
}
