@layer components {
  .input {
    --cocso-input-height: inherit;
    --cocso-input-padding-x: inherit;
    --cocso-input-font-size: inherit;
    --cocso-input-border-radius: inherit;
    --cocso-input-bg-color: var(--cocso-color-white);

    display: block;
    width: fit-content;
    height: var(--cocso-input-height);
    padding-inline: var(--cocso-input-padding-x);
    font-size: var(--cocso-input-font-size);
    color: var(--cocso-color-neutral-950);
    outline: none;
    background-color: var(--cocso-input-bg-color);
    border: none;
    border-radius: var(--cocso-input-border-radius);
    box-shadow:
      0 0 0 1px var(--cocso-color-neutral-100),
      var(--cocso-shadow-xs);
    transition: box-shadow 0.15s ease;
  }

  .input::placeholder {
    color: var(--cocso-color-neutral-400);
  }

  .input:focus-visible {
    outline: 2px solid transparent;
    box-shadow:
      0 0 0 1px var(--cocso-color-neutral-400),
      var(--cocso-shadow-xs);
  }

  .input.stretch {
    width: 100%;
  }

  .input:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  .input:read-only {
    cursor: default;
    background-color: var(--cocso-color-neutral-50);
  }

  .input.error {
    box-shadow:
      0 0 0 1px var(--cocso-color-danger-500),
      var(--cocso-shadow-xs);
  }

  .input.error:focus-visible {
    outline: 2px solid transparent;
    box-shadow:
      0 0 0 1px var(--cocso-color-danger-500),
      var(--cocso-shadow-xs);
  }
}
