@layer components {
  @keyframes slide-up-and-fade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-right-and-fade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-down-and-fade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-left-and-fade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .content {
    padding-block: var(--cocso-spacing-6);
    padding-inline: var(--cocso-spacing-8);
    background-color: var(--cocso-color-white);
    border: 1px solid var(--cocso-color-neutral-100);
    border-radius: var(--cocso-spacing-4);
    box-shadow: var(--cocso-shadow-2);
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }

  .content[data-open][data-side="top"] {
    animation-name: slide-down-and-fade;
  }

  .content[data-open][data-side="right"] {
    animation-name: slide-left-and-fade;
  }

  .content[data-open][data-side="bottom"] {
    animation-name: slide-up-and-fade;
  }

  .content[data-open][data-side="left"] {
    animation-name: slide-right-and-fade;
  }
}
