@layer components {
  .root {
    --cocso-field-label-font-size: var(--cocso-text-sm);
    --cocso-field-description-font-size: var(--cocso-text-xs);
    display: flex;
    flex-direction: column;
    gap: var(--cocso-spacing-5);
  }

  .label {
    font-size: var(--cocso-field-label-font-size);
    font-weight: var(--cocso-font-weight-medium);
    color: var(--cocso-color-text-primary);
    cursor: pointer;
    user-select: none;
  }

  .optional {
    margin-left: var(--cocso-spacing-4);
    font-size: var(--cocso-field-description-font-size);
    font-weight: var(--cocso-font-weight-regular);
    color: var(--cocso-color-text-tertiary);
  }

  .description {
    margin: 0;
    font-size: var(--cocso-field-description-font-size);
    color: var(--cocso-color-text-secondary);
  }

  .errorMessage {
    margin: 0;
    font-size: var(--cocso-field-description-font-size);
    color: var(--cocso-color-feedback-danger);
  }
}
