@layer components {
  .root {
    display: inline-flex;
    flex-direction: column;
    gap: var(--cocso-spacing-5);
  }

  .label {
    font-size: 14px;
    font-weight: 500;
    color: var(--cocso-color-neutral-900);
    cursor: pointer;
    user-select: none;
  }

  .optional {
    margin-left: var(--cocso-spacing-4);
    font-size: 12px;
    font-weight: 400;
    color: var(--cocso-color-neutral-400);
  }

  .description {
    margin: 0;
    font-size: 12px;
    color: var(--cocso-color-neutral-500);
  }

  .errorMessage {
    margin: 0;
    font-size: 12px;
    color: var(--cocso-color-danger-500);
  }
}
