.typography {
  color: var(--cocso-typography-font-color);
  font-size: var(--cocso-typography-font-size);
  font-weight: var(--cocso-typography-font-weight);
  line-height: var(--cocso-typography-line-height);

  --cocso-typography-font-color: inherit;
  --cocso-typography-font-size: inherit;
  --cocso-typography-font-weight: inherit;
  --cocso-typography-line-height: inherit;
}

.typography[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .typography {
    font-size: var(--cocso-tablet-typography-font-size, var(--cocso-typography-font-size));
  }
}

@media (min-width: 1024px) {
  .typography {
    font-size: var(--cocso-desktop-typography-font-size, var(--cocso-tablet-typography-font-size, var(--cocso-typography-font-size)));
  }
}
