.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  gap: var(--ds-spacing-2);
}

.arrow, .item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--ds-spacing-13);
  height: var(--ds-spacing-13);
  color: var(--cocso-pagination-font-color);
  font-size: 16px;
  font-weight: var(--cocso-pagination-font-weight);
  cursor: pointer;
  border-radius: var(--ds-spacing-4);
  background-color: var(--cocso-pagination-bg-color);
  transition: background-color 0.15s ease-in-out;

  --cocso-pagination-font-color: var(--ds-color-text-primary);
  --cocso-pagination-font-weight: inherit;
  --cocso-pagination-bg-color: inherit;
}

.arrow:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.arrow:not([disabled]):hover {
  --cocso-pagination-bg-color: var(--ds-color-neutral-50);
}

.arrow:not([disabled]):active {
  --cocso-pagination-bg-color: var(--ds-color-neutral-100);
}

.arrow > svg {
  width: var(--ds-spacing-8);
  height: var(--ds-spacing-8);
  flex-shrink: 0;
}

.item[data-active="true"] {
  --cocso-pagination-font-color: var(--ds-color-white);
  --cocso-pagination-bg-color: var(--ds-color-primary-500);
  --cocso-pagination-font-weight: 600;
}

.item[data-active="false"]:hover {
  --cocso-pagination-bg-color: var(--ds-color-neutral-50);
}

.item[data-active="false"]:active {
  --cocso-pagination-bg-color: var(--ds-color-neutral-100);
}

.trunc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--ds-spacing-13);
  height: var(--ds-spacing-13);
  color: var(--ds-color-text-primary);
  font-size: 16px;
}
