.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  gap: var(--ds-spacing-2);
  transition: color 0.15s ease-in-out;
}

.link > svg {
  width: var(--ds-spacing-8);
  height: var(--ds-spacing-8);
  flex-shrink: 0;
}

.indicator {
  text-decoration: underline;
}
