@layer components {
  .link {
    display: inline-flex;
    gap: var(--cocso-spacing-2);
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
  }

  .link > svg {
    flex-shrink: 0;
    width: var(--cocso-spacing-8);
    height: var(--cocso-spacing-8);
  }

  .indicator {
    text-decoration: underline;
  }
}
