.cocso-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: var(--number-5);
}

.cocso-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--cocso-checkbox-color);
  cursor: pointer;
  border: 1px solid var(--cocso-checkbox-border);
  border-radius: 4px;
  background-color: var(--cocso-checkbox-background);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  --cocso-checkbox-color: inherit;
  --cocso-checkbox-border: inherit;
  --cocso-checkbox-background: inherit;
}

.cocso-checkbox--status_off {
  --cocso-checkbox-border: var(--color-divider-gray-light);
  --cocso-checkbox-background: var(--color-palette-gray-0);
}

.cocso-checkbox--status_intermediate {
  --cocso-checkbox-color: var(--color-palette-gray-0);
  --cocso-checkbox-border: var(--color-palette-primary-500);
  --cocso-checkbox-background: var(--color-palette-primary-500);
}

.cocso-checkbox--status_on {
  --cocso-checkbox-color: var(--color-palette-gray-0);
  --cocso-checkbox-border: var(--color-palette-primary-500);
  --cocso-checkbox-background: var(--color-palette-primary-500);
}

.cocso-checkbox--status_off-disabled_true {
  --cocso-checkbox-color: var(--color-palette-gray-200);
  --cocso-checkbox-border: var(--color-palette-gray-200);
  --cocso-checkbox-background: var(--color-palette-gray-50);
}

.cocso-checkbox--status_intermediate-disabled_true {
  --cocso-checkbox-color: var(--color-palette-gray-200);
  --cocso-checkbox-border: var(--color-palette-gray-200);
  --cocso-checkbox-background: var(--color-palette-gray-50);
}

.cocso-checkbox--status_on-disabled_true {
  --cocso-checkbox-color: var(--color-palette-gray-200);
  --cocso-checkbox-border: var(--color-palette-gray-200);
  --cocso-checkbox-background: var(--color-palette-gray-50);
}

.cocso-checkbox-indicator {
  position: absolute;
  top: var(--number-2);
  right: var(--number-2);
  bottom: var(--number-2);
  left: var(--number-2);
  transition: opacity 0.2s ease-in-out;
}

.cocso-checkbox-indicator > svg {
  display: block;
  max-width: 100%;
  height: auto;
  transition: stroke 0.2s ease-in-out;
  stroke: var(--cocso-checkbox-color);
}

.cocso-checkbox input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.cocso-checkbox--size_sm {
  width: var(--number-8);
  height: var(--number-8);
}

.cocso-checkbox--size_md {
  width: var(--number-9);
  height: var(--number-9);
}

.cocso-checkbox--size_lg {
  width: var(--number-10);
  height: var(--number-10);
}

.cocso-checkbox-label {
  color: var(--color-palette-gray-900);
  cursor: pointer;
}

.cocso-checkbox-label--disabled_true {
  color: var(--color-palette-gray-400);
  cursor: not-allowed;
}
