.cocso-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: var(--number-5);
}

.cocso-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--cocso-checkbox-color);
  cursor: pointer;
  border: 1px solid var(--cocso-checkbox-border);
  border-radius: 4px;
  background-color: var(--cocso-checkbox-background);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  --cocso-checkbox-color: inherit;
  --cocso-checkbox-border: inherit;
  --cocso-checkbox-background: inherit;
}

.cocso-checkbox--status_off {
  --cocso-checkbox-border: var(--color-divider-gray-light);
  --cocso-checkbox-background: var(--color-palette-gray-0);
}

.cocso-checkbox--status_intermediate {
  --cocso-checkbox-color: var(--color-palette-gray-0);
  --cocso-checkbox-border: var(--color-palette-primary-500);
  --cocso-checkbox-background: var(--color-palette-primary-500);
}

.cocso-checkbox--status_on {
  --cocso-checkbox-color: var(--color-palette-gray-0);
  --cocso-checkbox-border: var(--color-palette-primary-500);
  --cocso-checkbox-background: var(--color-palette-primary-500);
}

.cocso-checkbox--status_off-disabled_true {
  --cocso-checkbox-color: var(--color-palette-gray-200);
  --cocso-checkbox-border: var(--color-palette-gray-200);
  --cocso-checkbox-background: var(--color-palette-gray-50);
}

.cocso-checkbox--status_intermediate-disabled_true {
  --cocso-checkbox-color: var(--color-palette-gray-200);
  --cocso-checkbox-border: var(--color-palette-gray-200);
  --cocso-checkbox-background: var(--color-palette-gray-50);
}

.cocso-checkbox--status_on-disabled_true {
  --cocso-checkbox-color: var(--color-palette-gray-200);
  --cocso-checkbox-border: var(--color-palette-gray-200);
  --cocso-checkbox-background: var(--color-palette-gray-50);
}

