.cocso-heading {
  color: var(--cocso-heading-color);
  font-weight: var(--cocso-heading-weight);
  line-height: 1.5;
  --cocso-heading-color: inherit;
  --cocso-heading-weight: inherit;
}

.cocso-heading--size_xl {
  font-size: 28px;
}

.cocso-heading--size_lg {
  font-size: 24px;
}

.cocso-heading--size_md {
  font-size: 22px;
}

.cocso-heading--size_sm {
  font-size: 18px;
}

.cocso-heading--size_xs {
  font-size: 16px;
}

.cocso-heading--size_2xs {
  font-size: 14px;
}

@media (min-width: 768px) {
  .cocso-heading--size_xl {
    font-size: 40px;
  }

  .cocso-heading--size_lg {
    font-size: 32px;
  }

  .cocso-heading--size_md {
    font-size: 24px;
  }
}
