.cocso-label {
  color: var(--cocso-label-color);
  font-weight: var(--cocso-label-weight);
  line-height: 1.5;
  --cocso-label-color: inherit;
  --cocso-label-weight: inherit;
}

.cocso-label--size_lg {
  font-size: 19px;
}

.cocso-label--size_md {
  font-size: 17px;
}

.cocso-label--size_sm {
  font-size: 15px;
}

.cocso-label--size_xs {
  font-size: 13px;
}
