.cocso-otp {
  display: flex;
  align-items: center;
  gap: var(--number-5);
}

.cocso-otp-input {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-text-basic);
  font-size: 15px;
  font-weight: var(--font-weight-medium);
  text-align: center;
  text-transform: uppercase;
  line-height: var(--letter-spacing-1);
  outline: none;
  border: none;
  border-radius: var(--number-2);
  background-color: var(--color-palette-gray-50);
  box-shadow: 0 0 0 var(--number-1, 1px) var(--color-palette-gray-50);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.cocso-otp-input:hover {
  box-shadow: 0 0 0 var(--number-1, 1px) var(--color-palette-gray-200);
}

.cocso-otp-input:focus {
  box-shadow: 0 0 0 var(--number-1, 1px) var(--color-palette-gray-200);
}

.cocso-otp-input::selection {
  background-color: var(--color-palette-gray-400);
}
