.cocso-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.cocso-pagination-arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cocso-pagination-arrow > svg {
  width: var(--number-8);
  height: var(--number-8);
  flex-shrink: 0;
}

.cocso-pagination-arrow, .cocso-pagination-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--number-13);
  height: var(--number-13);
  color: var(--cocso-pagination-color);
  font-size: 16px;
  font-weight: var(--cocso-pagination-font-weight);
  border-radius: var(--number-4);
  background-color: var(--cocso-pagination-background);
  --cocso-pagination-color: var(--color-text-basic);
  --cocso-pagination-background: inherit;
  --cocso-pagination-font-weight: inherit;
}

.cocso-pagination-item[data-active="true"] {
  --cocso-pagination-color: var(--color-palette-gray-0);
  --cocso-pagination-background: var(--color-element-primary);
  --cocso-pagination-font-weight: var(--font-weight-semi-bold);
}
