.cocso-stock-quantity-status {
  display: inline-flex;
  align-items: center;
  gap: var(--number-2);
  color: var(--cocso-stock-quantity-status-color);
  --cocso-stock-quantity-status-color: inherit;
}

.cocso-stock-quantity-status[data-status="여유"] {
  --cocso-stock-quantity-status-color: var(--color-palette-primary-500);
}

.cocso-stock-quantity-status[data-status="보통"] {
  --cocso-stock-quantity-status-color: var(--color-palette-success-400);
}

.cocso-stock-quantity-status[data-status="부족"] {
  --cocso-stock-quantity-status-color: var(--color-palette-danger-500);
}

.cocso-stock-quantity-status-indicator {
  width: var(--number-9);
  height: auto;
  flex-shrink: 0;
}

.cocso-stock-quantity-status-indicator > svg {
  width: 100%;
  height: 100%;
}
