.cocso-switch-wrapper {
  display: flex;
  align-items: center;
  gap: var(--number-5);
}

.cocso-switch {
  position: relative;
  cursor: pointer;
  border-radius: var(--number-max);
  background-color: var(--cocso-switch-background);
  opacity: 1;
  --cocso-switch-background: var(--color-palette-secondary-200);
}

.cocso-switch[data-state="checked"] {
  --cocso-switch-background: var(--color-palette-primary-500);
}

.cocso-switch--disabled_true {
  cursor: not-allowed;
  opacity: 0.5;
}

.cocso-switch--size_lg {
  width: var(--number-14);
  height: var(--number-10);
}

.cocso-switch--size_md {
  width: var(--number-12);
  height: var(--number-9);
}

.cocso-switch-thumb {
  display: block;
  border-radius: var(--number-max);
  background-color: var(--color-background-white);
  transition: transform 0.1s ease;
  will-change: transform;
}

.cocso-switch-thumb--size_lg {
  width: var(--number-9);
  height: var(--number-9);
  transform: translateX(var(--number-2));
}

.cocso-switch-thumb--size_lg[data-state="checked"] {
  transform: translateX(calc(var(--number-14) - var(--number-9) - var(--number-2)));
}

.cocso-switch-thumb--size_md {
  width: var(--number-8);
  height: var(--number-8);
  transform: translateX(var(--number-2));
}

.cocso-switch-thumb--size_md[data-state="checked"] {
  transform: translateX(calc(var(--number-12) - var(--number-8) - var(--number-2)));
}
