.badge {
  display: inline-flex;
  padding: var(--cocso-badge-padding);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: var(--cocso-badge-border-radius);
  background-color: var(--cocso-badge-bg-color);

  --cocso-badge-padding: inherit;
  --cocso-badge-border-radius: inherit;
  --cocso-badge-bg-color: inherit;
}
