@keyframes overlay-show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--color-palette-blackalpha-25);
  animation: overlay-show 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: var(--z-index-overlay);
}

@keyframes content-show {
  from { opacity: 0; transform: translate(-50%, -48%) scale(0.98); }
  to { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}

.content {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 420px;
  max-height: 85vh;
  padding: var(--number-8);
  border-radius: 8px;
  background-color: var(--color-palette-gray-0);
  animation: content-show 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: var(--z-index-modal);
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--number-10);
  height: var(--number-10);
  cursor: pointer;
}

.title {
  text-align: center;
  word-break: keep-all;
}

.description {
  margin-top: var(--number-5);
  text-align: center;
}
