@layer components {
  .root {
    display: inline-block;
    transform: translateZ(0);
  }

  .content {
    min-width: 260px;
    overflow: hidden;
  }

  :global(.react-datepicker) {
    position: relative;
    display: inline-block;
    padding-inline: var(--cocso-spacing-8);
    font-size: 0.8rem;
    color: var(--cocso-color-text-primary);
    background-color: var(--cocso-color-white);
  }

  :global(.react-datepicker__aria-live) {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  :global(.react-datepicker__sr-only) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0, 0, 0, 0);
  }

  :global(.react-datepicker__header--custom) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: var(--cocso-spacing-5);
  }

  :global(.react-datepicker__week) {
    text-align: center;
    white-space: nowrap;
  }

  :global(.react-datepicker__month) {
    display: flex;
    flex-direction: column;
    gap: var(--cocso-spacing-5);
  }

  :global(.react-datepicker__month-wrapper) {
    display: flex;
    gap: var(--cocso-spacing-5);
    align-items: center;
    justify-content: space-between;
  }

  :global(.react-datepicker__month-text) {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: var(--cocso-color-text-primary);
    cursor: pointer;
    border-radius: var(--cocso-radius-4);
  }

  :global(.react-datepicker__month-text:hover) {
    background-color: var(--cocso-color-neutral-50);
  }

  :global(.react-datepicker__month-text--selected) {
    font-weight: 600;
    color: var(--cocso-color-white);
    background-color: var(--cocso-color-primary-500);
  }
}
