.wrapper {
  display: flex;
  align-items: center;
  gap: var(--ds-spacing-5);
}

.wrapper[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.4;
}

.switch {
  position: relative;
  width: var(--cocso-switch-width);
  height: var(--cocso-switch-height);
  cursor: pointer;
  border-radius: var(--ds-spacing-max);
  background-color: var(--cocso-switch-bg-color);
  opacity: 1;

  --cocso-switch-width: inherit;
  --cocso-switch-height: inherit;
  --cocso-switch-bg-color: inherit;
}

.switch[disabled], .switch[data-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.4;
}

.switch[data-state="checked"] {
  --cocso-switch-bg-color: var(--ds-color-primary-500);
}

.thumb {
  display: block;
  width: var(--cocso-switch-thumb-width);
  height: var(--cocso-switch-thumb-width);
  border-radius: var(--ds-spacing-max);
  background-color: var(--ds-color-white);
  transform: translateX(var(--ds-spacing-2));
  transition: transform 0.15s ease;
  will-change: transform;

  --cocso-switch-thumb-width: inherit;
  --cocso-switch-thumb-height: inherit;
}

.thumb[data-state="checked"] {
  transform: translateX(calc(var(--cocso-switch-width) - var(--cocso-switch-thumb-width) - var(--ds-spacing-2)));
}
