.wrapper {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.wrapper.stretch {
  width: 100%;
}

.wrapper.stretch .select {
  width: 100%;
}

.select {
  min-width: var(--cocso-select-min-width);
  height: var(--cocso-select-height);
  padding-left: var(--cocso-select-padding-left);
  padding-right: var(--cocso-select-padding-right);
  color: var(--ds-color-neutral-950);
  font-size: var(--cocso-select-font-size);
  border: 1px solid var(--ds-color-neutral-100);
  border-radius: var(--cocso-select-border-radius);
  background-color: var(--cocso-select-bg-color);
  appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  --cocso-select-min-width: inherit;
  --cocso-select-height: inherit;
  --cocso-select-padding-left: inherit;
  --cocso-select-padding-right: inherit;
  --cocso-select-font-size: inherit;
  --cocso-select-border-radius: inherit;
  --cocso-select-bg-color: var(--ds-color-white);
}

.wrapper.disabled {
  cursor: not-allowed;
}

.wrapper.disabled .select {
  opacity: 0.4;
  cursor: not-allowed;
}

.icon {
  position: absolute;
  top: 50%;
  right: var(--ds-spacing-5);
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--ds-color-neutral-500);
}

.wrapper.disabled .icon {
  cursor: not-allowed;
  opacity: 0.4;
}
