@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --font-sans:
    "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
  --font-mono: "Geist Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

  --text-base: 15px;

  --breakpoint-lg: 1200px;

  --size-app-width: 1200px;
  --size-app-padding: 24px;
  --padding-app: 24px;

  --size-header-height: 3rem;
  --size-sidebar-width: 240px;

  --z-index-sidebar: 1;
  --z-index-header: 10;
  --z-index-divider: 20;
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    font-size: var(--text-base);
    color: var(--color-text-primary);
    touch-action: manipulation;
    flex-direction: column;
    font-optical-sizing: auto;
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: slashed-zero;
    font-family: var(--font-sans), serif;
    text-decoration-skip-ink: auto;
    text-spacing-trim: space-first;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    background-color: var(--color-neutral-50);
  }

  @media (min-width: 1200px) {
    body::before {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 50%;
      z-index: var(--z-index-divider);
      width: 1px;
      pointer-events: none;
      content: "";
      background-color: var(--color-neutral-200);
      transform: translateX(
        calc(
          -1 *
          var(--size-app-width) /
          2 -
          var(--removed-body-scroll-bar-size, 0px) /
          2
        )
      );
    }

    body::after {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 50%;
      z-index: var(--z-index-divider);
      width: 1px;
      pointer-events: none;
      content: "";
      background-color: var(--color-neutral-200);
      transform: translateX(
        calc(
          var(--size-app-width) /
          2 -
          var(--removed-body-scroll-bar-size, 0px) /
          2
        )
      );
    }
  }

  button,
  [role="button"] {
    cursor: pointer;
  }

  code:not(pre code) {
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 400;
    background: var(--color-fd-muted);
    border: solid 1px var(--color-fd-border);
    border-radius: 5px;
  }

  code {
    font-family: var(--font-mono), monospace;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .center-x {
    @apply flex justify-center;
  }

  .center-y {
    @apply flex items-center;
  }

  .row-between {
    @apply flex items-center justify-between;
  }

  .column {
    @apply flex flex-col;
  }

  .column-center {
    @apply flex flex-col items-center justify-center;
  }

  .column-center-x {
    @apply flex flex-col items-center;
  }

  .column-center-y {
    @apply flex flex-col justify-center;
  }

  .column-between {
    @apply flex flex-col items-center justify-between;
  }
}
